/* Position the cover art */
.cover-art {
  top: -30px;
  right: 0;
}

.back-cover-art {
  top: -30px;
  right: -8.5in;
}

/* Recolor the footers */
.phb:after { filter: hue-rotate(205deg); } /* Makes it my color! */

/* Disable footers on these pages. */
.phb#p1:after { display: none; }
.phb#p2:after { display: none; }
.phb#p3:after { display: none; }
.phb#p4:after { display: none; }
.phb#p9:after { display: none; }
.phb:last-of-type:after { display: none; }

/* Disable columns on these pages. */
.phb#p5 { column-count: 1; -moz-column-count: 1; -webkit-column-count: 1; }

/* Page 2 is really Page 1. Thanks Covers. */
.phb#p2 { counter-reset: phb-page-numbers; }

/* Magic Items need Labels */
.magic-item-label {
  font-family: ScalySans;
  font-variant: small-caps;
  font-size: 9pt;
  letter-spacing: 1px;
}

/************************
 * PAGE 4
 ************************/
.sword-coast-map { 
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
