.cover-art, .back-cover-art {
  position: absolute; 
  height: 11.5in; 
  width: auto; 
  z-index: 1; 
}

. {
  position: absolute; 
  height: 11.5in; 
  width: auto; 
  z-index: 1; 
}

.cover-logo {
  position: absolute; 
  left: 0;
  bottom: 15%;
  width: 50%;
  height: auto;
  z-index: 2;
}

.cover-dd-logo { 
  position: absolute; 
  top: 50px; 
  left: 365px;
  width: 120px;
  height: auto;
  z-index: 2; 
}

.cover-title-callout, .inner-cover-title-callout {
  position: absolute;
  top: 150px;
  left: 215px;
  width: 420px;
  height: auto;
  z-index: 2;
}

.cover-header, .inner-cover-header, .cover-subtitle, .inner-cover-author {
  position: absolute;
  left: 0;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%;
  color: white;
  text-shadow:
    1px  1px #000, 
    -1px  1px #000, 
    1px -1px #000, 
    -1px -1px #000;
  z-index: 2;
}

.cover-header, .inner-cover-header { 
  font-family: "Bookinsanity";
  font-size: 3.5em;
  top: 100px;
  text-transform: uppercase;
}

.cover-subtitle {
  font-size: 1.5em;
  bottom: 50px;
}

.inner-cover-art {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: darken;
}

.inner-cover-logo {
  position: absolute;
  height: 75px;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.inner-cover-author {
  color: #58180D;
  font-size: 16pt;
  font-variant: small-caps;
  top: 180px;
  text-shadow: none;
}
