.cover-art {
  position: absolute; 
  top: -30px; 
  left: -910px;
  height: 11.5in; 
  width: auto; 
  z-index: 1; 
}

.cover-logo {
  position: absolute; 
  left: 0;
  bottom: 15%;
  width: 50%;
  height: auto;
  z-index: 2;
}

.cover-dd-logo { 
  position: absolute; 
  top: 50px; 
  left: 365px;
  width: 120px;
  height: auto;
  z-index: 2; 
}

.cover-title-callout {
  position: absolute;
  top: 150px;
  left: 215px;
  width: 420px;
  height: auto;
  z-index: 2;
}

.cover-header, .cover-subtitle {
  position: absolute;
  left: 0;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%;
  color: white;
  text-shadow:
    1px  1px #000, 
    -1px  1px #000, 
    1px -1px #000, 
    -1px -1px #000;
  z-index: 2;
}

.cover-header { 
  font-family: "Bookinsanity";
  font-size: 3.5em;
  top: 100px;
  text-transform: uppercase;
}

.cover-subtitle {
  font-size: 1.5em;
  bottom: 50px;
}
