/**
 * COVER
 **/
.phb .contents-link {
  position: fixed;
    top: 60px;
    width: 200px;
}
.phb .contents-link a, .phb .contents-link a:visited { color: white; text-decoration: none; }
.phb .contents-link a:hover { text-decoration: underline; }
.cover-art { bottom: 0; right: -3.25in; }
.back-cover-art { bottom: 0; right: -11.75in; }
.phb:first-of-type:after { display: none; }
.phb:last-of-type:after { display: none; }

/* inner cover */ .phb:nth-child(2):after { display: none; }
/* credits */ .phb:nth-child(3):after { display: none; }
/* toc */ .phb:nth-child(4):after { display: none; }

/**
 * REUSABLE SEGMENTS
 **/
.quote::first-line { font-variant: small-caps; }

/**
 * BARD
 **/
.bard {
  position: absolute;
  right: 0;
  top: 375px;
  width: 500px;
  mix-blend-mode: darken;
  z-index: 20;
}

/**
 * COLLEGE CHARITY
 **/
.phb .college-of-charity {
  position: absolute;
  width: 60%;
  bottom: 0;
  left: 20%;
}

.phb .college-of-charity-overlay {
  position: absolute;
  left: -12.5%;
  top: -30%;
  width: 125%;
  height: 175%; 
}

.phb blockquote.college-of-charity-credits {
  position: absolute;
  bottom: 150px;
  right: 50px;
  width: 200px;
}

/**
 * RANGER
 **/
.ranger {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 350px;
  mix-blend-mode: darken;
}

/**
 * WIZARD
 **/
.wizard {
  position: absolute;
  right: 0;
  top: 50px;
  width: 500px;
  mix-blend-mode: darken;
  transform: scaleX(-1);
  z-index: 20;
}

.library-concept {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  mix-blend-mode: overlay;
  -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) 
}

/**
 * THREE SPIRITS ADEPT
 **/
.phb div.three-spirits-adept-tables td:first-of-type { width: 25%; }

.phb blockquote.three-spirits-adept-credits {
  width: 250px;
  margin: 15px auto 0;
  position: absolute;
  bottom: 60px;
  right: 80px;
  z-index: 25;
}

.phb img.three-spirits-adept {
  position: absolute;
  right: -50px;
  bottom: -50px;
  width: 60%;
  z-index: 20;
}

.three-spirits-adept-callout {
  position: absolute;
  left: 150px;
  bottom: 50px;
  transform: rotate(5deg);
  width: 252px;
}

.three-spirits-adept-callout p, .three-spirits-adept-callout h4 {
  position: relative;
  z-index: 15;
}

.three-spirits-adept-callout:after {
  background-image: url(https://content.writh.net/images/players-guide/callout.png);
  content: "";
  display: block;
  width: 300px;
  height: 181px;
  background-size: 300px 181px;
  position: absolute;
  left: -30px;
  top: -45px;
  transform: rotate(-13deg);
}
