/**
 * COVER
 **/
.cover-art { bottom: 0; right: -3.25in; }
.back-cover-art { bottom: 0; right: -11.75in; }
.phb:first-of-type:after { display: none; }
.phb:last-of-type:after { display: none; }

/* inner cover */ .phb:nth-child(2):after { display: none; }
/* credits */ .phb:nth-child(3):after { display: none; }
/* toc */ .phb:nth-child(4):after { display: none; }

/**
 * REUSABLE SEGMENTS
 **/
.quote::first-line { font-variant: small-caps; }

/**
 * THREE SPIRITS ADEPT
 **/
.phb div.three-spirits-adept-tables td:first-of-type { width: 25%; }

.phb blockquote.three-spirits-adept-credits {
  width: 250px;
  margin: 15px auto 0;
  position: relative;
  z-index: 25;
}

.phb img.three-spirits-adept {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65%;
  z-index: 20;
}
