/* Position the cover art */
.cover-art {
  top: 0;
  right: -1in;
  transform: scaleX(-1);
}

.back-cover-art {
  top: 0;
  right: -9.5in;
  transform: scaleX(-1);
}

/* Recolor the footers */
.phb:after { filter: hue-rotate(205deg); } /* Makes it my color! */

/* Disable footers on these pages. */
.phb#p1:after { display: none; }
.phb#p2:after { display: none; }
.phb#p3:after { display: none; }
.phb#p4:after { display: none; }
.phb#p5:after { display: none; }
.phb:last-of-type:after { display: none; }

/* Page 2 is really Page 1. Thanks Covers. */
.phb#p2 { counter-reset: phb-page-numbers; }

/* Magic Items need Labels */
.magic-item-label {
  font-family: ScalySans;
  font-variant: small-caps;
  font-size: 9pt;
  letter-spacing: 1px;
}

/* Map of Eransu! */
.phb .eransu-map {
    position: absolute;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(0 125px);
}