/* Position the cover art */
.cover-art {
  top: 0;
  right: -1in;
  transform: scaleX(-1);
}

.back-cover-art {
  top: 0;
  right: -9.5in;
  transform: scaleX(-1);
}

/* Recolor the footers and TOC Content Link */
.phb:after { filter: hue-rotate(128deg); } /* emerald */
.phb .contents-link a, .phb .contents-link a:visited { color: #F33 !important; }

/* Disable footers on these pages. */
.phb#p1:after { display: none; }
.phb#p2:after { display: none; }
.phb#p3:after { display: none; }
.phb#p4:after { display: none; }
.phb#p6:after { display: none; }
.phb:last-of-type:after { display: none; }

/* Page 2 is really Page 1. Thanks Covers. */
.phb#p2 { counter-reset: phb-page-numbers; }

/* Magic Items need Labels */
.magic-item-label {
  font-family: ScalySans;
  font-variant: small-caps;
  font-size: 9pt;
  letter-spacing: 1px;
}

/* Brushes need to be grayscale */
.brush {
  position: absolute;
  filter: grayscale(75%);
}

/* Map of Eransu! */
.phb .eransu-map {
    position: absolute;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(0 125px);
    z-index: 1;
    cursor: pointer;
}

/* Tokamo! */
.phb .tokamo {
    width: 55%; 

    position: absolute; 
    right: 0; 
    top: 30px; 

    mix-blend-mode: darken; 
}
