/* Position the cover art */
.cover-art {
  top: -30px;
  right: -4.5in;
}

.back-cover-art {
  top: -30px;
  right: -15in;
}

/* Recolor the footers */
.phb:after { filter: hue-rotate(205deg); } /* Makes it my color! */

/* Disable footers on these pages. */
.phb#p1:after { display: none; }
.phb#p2:after { display: none; }
.phb#p3:after { display: none; }
.phb#p4:after { display: none; }
.phb:last-of-type:after { display: none; }

/* Page 2 is really Page 1. Thanks Covers. */
.phb#p2 { counter-reset: phb-page-numbers; }

/* Magic Items need Labels */
.magic-item-label {
  font-family: ScalySans;
  font-variant: small-caps;
  font-size: 9pt;
  letter-spacing: 1px;
}
